.slider-wrapper {
  width: 40%;
  margin: 1rem 0;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 13px;
}

.slider-container figure {
  background-size: cover;
  font-size: 0;
  height: 100%;
  margin: 0;
  position: relative;
  width: 100%;
}

.compare {
  background-size: cover;
  bottom: 0;
  border-right: 2px solid rgba(255, 255, 255, 0.7);
  box-shadow: 10px 0 15px -13px #000;
  height: 100%;
  max-width: 98.6%;
  min-width: 0.6%;
  overflow: visible;
  position: absolute;
  width: 50%;
  animation: first 2s 1 normal ease-in-out 0.1s;
  -webkit-animation: first 2s 1 normal ease-in-out 0.1s;
}

.compare::before {
  background: url(../icons/arrows.svg) no-repeat scroll 0 center transparent;
  background-size: contain;
  content: " ";
  float: right;
  height: 100%;
  margin-right: -66.5px;
  position: relative;
  top: 0;
  width: 130px;
}

#figure-p1 {
  background-image: url("../images/Projects/p1a.jpeg");
}

#figure-p2 {
  background-image: url("../images/Projects/p2a.jpeg");
}

#figure-p3 {
  background-image: url("../images/Projects/p3a.jpeg");
}

#figure-p4 {
  background-image: url("../images/Projects/p4a.jpeg");
}

#compare-p1 {
  background-image: url("../images/Projects/p1.jpeg");
}

#compare-p2 {
  background-image: url("../images/Projects/p2.jpeg");
}

#compare-p3 {
  background-image: url("../images/Projects/p3.jpeg");
}

#compare-p4 {
  background-image: url("../images/Projects/p4.jpeg");
}

input.slider {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background: transparent;
  cursor: col-resize;
  left: 0;
  margin: 0;
  outline: none;
  padding: 0;
  position: relative;
  width: 100%;
}

#slider-p1 {
  height: 50vw;
  top: -51vw;
}

#slider-p2 {
  height: 50vw;
  top: -51.7vw;
}
#slider-p3 {
  height: 51.7vw;
  top: -51.7vw;
}
#slider-p4 {
  height: 51.7vw;
  top: -51.7vw;
}

input.slider::-moz-range-track {
  background: transparent;
}

input.slider::-ms-track {
  border: none;
  background-color: transparent;
  height: 66vw;
  left: 0;
  outline: none;
  position: relative;
  top: -66vw;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: col-resize;
  color: transparent;
}

input.slider::-ms-fill-lower {
  background-color: transparent;
}

input.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 66vw;
  width: 0.5%;
  opacity: 0;
}

input.slider::-moz-range-thumb {
  -moz-appearance: none;
  height: 66vw;
  width: 0.5%;
  opacity: 0;
}

input.slider::-ms-thumb {
  height: 66vw;
  width: 0.5%;
  opacity: 0;
}

input.slider::-ms-tooltip {
  display: none;
}

@keyframes first {
  0% {
    width: 0%;
  }

  50% {
    width: 80%;
  }

  100% {
    width: 50%;
  }
}

@-webkit-keyframes first {
  0% {
    width: 0%;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 50%;
  }
}

@media screen and (max-width: 720px) {
  .compare::before {
    background: url(../icons/arrows.svg) no-repeat scroll 0 center transparent;
    background-size: contain;
    content: " ";
    float: right;
    height: 100%;
    margin-right: -35.5px;
    position: relative;
    top: 0;
    width: 70px;
  }
  .compare {
    border-right: 0.5px solid rgba(255, 255, 255, 0.7);
  }
  .slider-wrapper {
    margin: 0.8rem 0;
  }
}

@media screen and (max-width: 320px) {
  .compare::before {
    background: url(../icons/arrows.svg) no-repeat scroll 0 center transparent;
    background-size: contain;
    content: " ";
    float: right;
    height: 100%;
    margin-right: -25.5px;
    position: relative;
    top: 0;
    width: 50px;
  }
  .compare {
    border-right: 0.5px solid rgba(255, 255, 255, 0.7);
  }

  .slider-wrapper {
    margin: 0.8rem 0;
  }
}
